/* div#spago svg g.links line { visibility: hidden; } */
div#d3story svg g.nodes g.package circle {
  visibility: hidden;
}
div#d3story svg g.nodes g.package text {
  visibility: visible;
  fill: black;
  font-size: 24px;
  opacity: 0.5;
  text-anchor: start;
}
div#d3story svg g.nodes g.module.source text,
div#d3story svg g.nodes g.module.target text {
  fill: gray;
}
div#d3story svg.spotlight g.nodes g.package text {
  opacity: 0.2;
}
div#d3story svg.spotlight g.nodes g.module.source text,
div#d3story svg.spotlight g.nodes g.module.target text {
  fill: gray;
}
div#d3story svg.spotlight g.module {
  opacity: 0.2;
}
div#d3story svg.spotlight g.module.source,
div#d3story svg.spotlight g.module.target,
div#d3story svg.spotlight g.module.spotlight {
  opacity: 1;
}
div#d3story svg g.links line {
  opacity: 0.5;
}
div#d3story svg g.links line.source {
  opacity: 0.8;
  stroke: red;
  stroke-width: 2px;
}
div#d3story svg g.links line.target {
  opacity: 0.8;
  stroke: blue;
  stroke-width: 2px;
}
div#d3story svg g.nodes text {
  font: 12px sans-serif;
  text-anchor: middle;
}
div#d3story svg g.nodes g.module text {
  visibility: hidden;
  fill: black;
}
div#d3story svg g.nodes g.module circle {
  stroke: white;
  stroke-width: 1.5px;
  opacity: 1;
}
div#d3story svg g.nodes g.module:hover text {
  visibility: visible;
  fill: black;
  opacity: 0.8;
}
div#d3story svg g.nodes g.spotlight text {
  visibility: visible;
}
div#d3story svg g.nodes g.spotlight circle {
  opacity: 1;
  stroke-width: 5px;
  stroke-dasharray: 4 1;
  stroke: black;
}
div#d3story svg g.nodes g.source text {
  visibility: visible;
}
div#d3story svg g.nodes g.source circle {
  opacity: 0.85;
  stroke-width: 3px;
  stroke: black;
}
div#d3story svg g.nodes g.target text {
  visibility: visible;
}
div#d3story svg g.nodes g.target circle {
  opacity: 0.85;
  stroke-width: 3px;
  stroke: darkgray;
}
div#d3story svg g.nodes g.package.spotlight text {
  visibility: visible;
}
div#d3story svg g.nodes g.package.source circle {
  opacity: 0.85;
  stroke-width: 2px;
  stroke: red;
}
div#d3story svg g.nodes g.package.target circle {
  opacity: 0.85;
  stroke-width: 2px;
  stroke: blue;
}
