@layer components {
  .app-container {
    @apply w-screen h-screen flex flex-row;
  }
  .story-sidebar {
    @apply hidden top-0 bottom-0 left-0 overflow-y-auto bg-blue-500 border-gray-50 flex-none border-r-2 md:overflow-visible md:max-w-xs md:flex flex-col;
  }
  .story-container {
    @apply flex flex-row gap-8 h-screen w-full bg-gray-100;
  }
  .story-panel {
    @apply flex flex-col bg-green;
  }
  .story-panel-card {
    @apply overflow-hidden min-w-min p-2 m-2 bg-white shadow-md;
  }
  .svg-container {
    @apply flex-grow bg-white;
  }
}

div.story-container {
  grid-template-columns: minmax(min-content, 1fr) minmax(500px, 3fr);
  background-color: beige;
}
div.story-panel-card {
  width: fit-content;
}