div#d3story {
  display: grid;
  gap: 2px;

  div#banner {
    font-family: sans-serif;
    color: darkred;
    opacity: 0.7;
    text-align: center;
    background-color: aliceblue;
  }
  div#code {
    background-color: azure;
    font-family: monospace;
  }
  div#blurb {
    background-color: bisque;
  }
  div#blurb div#inner-blurb,
  div#code div#inner-code {
    padding: 5em;
  }
  div#controls {
    background-color: gainsboro;
    display: flex;
    justify-content: left;
    flex-direction: row;
    border: dotted orange;
    border-radius: 1em;
    width: min-content;
    margin: 1em;
    padding: 1em 2em;
    button {
      padding: 0.2em 1em;
      margin: 0 1em;
    }
    div.active button {
      background-color: coral;
      color: blanchedalmond;
    }
  }
}

div#d3story.gup,
div#d3story.force,
div#d3story.trees.Vertical {
  grid-template-areas: 
    'banner banner'
    'blurb code'
    'svg code';

  div#banner {
    grid-area: banner;
  }
  div#code {
    grid-area: code;
    width: 25vw;
  }
  div#blurb {
    grid-area: blurb;
  }
  div#gup,
  div#force
  div#tree {
    grid-area: svg;
    height: 50vh;
  }
  div#controls {
    grid-area: controls;
  }
}
div#d3story.trees.Radial {
  display: grid;
  gap: 2px;
  grid-template-columns: [col] min-content [col] auto [col] 25vw  ;
  grid-template-rows: [row] min-content [row] 6em [row] auto [row] ;

  div#banner {
    grid-column: col 1 / span 3;
    grid-row: row ;
  }
  div#code {
		grid-column: col 3;
		grid-row: row 2 / span 2 ;
  }
  div#blurb {
    opacity: 0.9;
    border-radius: 1em;
    margin: 1em;
		grid-column: col 1 ;
		grid-row: row 2 / span 1 ;
    height: fit-content;
  }
  div#tree {
    grid-column: col 1 / span 2;
    grid-row: row 2 / span 2;
  }
}

div#d3story.trees.Horizontal {
  display: grid;
  gap: 2px;
  grid-template-columns: [col] 25vw [col] auto [col] auto  ;
  grid-template-rows: [row] min-content [row] 6em [row] auto [row] ;

  div#banner {
    grid-column: col 1 / span 3;
    grid-row: row ;
  }
  div#code {
		grid-column: col 3;
		grid-row: row 2 / span 2 ;
  }
  div#blurb {
		grid-column: col 2 ;
		grid-row: row 2 / span 2 ;
  }
  div#tree {
    grid-column: col 1 / span 1;
    grid-row: row 2 / span 2;
  }
}
