div#d3story {
  display: grid;
  gap: 2px;

  div#banner {
    font-family: sans-serif;
    color: darkred;
    opacity: 0.7;
    text-align: center;
    background-color: aliceblue;
  }
  div#code {
    background-color: azure;
    font-family: monospace;
  }
  div#blurb {
    background-color: bisque;
  }
  div#blurb div,
  div#code div {
    padding: 5em;
  }
  div#controls {
    background-color: gainsboro;
    display: flex;
    justify-content: left;
    flex-direction: row;
    border: dotted orange;
    border-radius: 1em;
    width: min-content;
    margin: 1em auto;
    padding: 1em 2em;
    button {
      padding: 0.2em 1em;
      margin: 0 1em;
    }
  }
}

div#d3story.gup,
div#d3story.force,
div#d3story.trees.Radial,
div#d3story.trees.Vertical {
  grid-template-areas: 
    'banner banner'
    'controls code'
    'blurb code'
    'svg code';

  div#banner {
    grid-area: banner;
  }
  div#code {
    grid-area: code;
    width: 25vw;
  }
  div#blurb {
    grid-area: blurb;
  }
  div#gup,
  div#force
  div#tree {
    grid-area: svg;
    height: 50vh;
  }
  div#controls {
    grid-area: controls;
  }
}
div#d3story.trees.Horizontal {
  grid-template-areas: 
    'banner banner banner'
    'controls controls svg'
    'blurb code svg';

  div#banner {
    grid-area: banner;
  }
  div#code {
    grid-area: code;
  }
  div#blurb {
    grid-area: blurb;
  }
  div#tree {
    grid-area: svg;
    width: 25vw;
  }
  div#controls {
    grid-area: controls;
    height: min-content;
  }
}
