div#d3story {
  div {
    background-color: beige;
  }
  display: grid;
  grid-gap: 2px;
  grid-template-areas: 
    'banner code'
    'blurb code'
    'd3   code';
  div#blurb {
    grid-area: blurb;
    padding: 10em;
  }
  div#controls {
    display: flex;
    justify-content: left;
    flex-direction: row;
    border: dotted orange;
    border-radius: 1em;
    width: min-content;
    margin: 1em auto;
    padding: 1em 2em;
    button { 
      padding: 0.2em 1em;
      margin: 0 1em;
    }
  }
  div#banner {
    font-family: sans-serif;
    color: darkred;
    opacity: 0.7;
    grid-area: banner;
    text-align: center;
  }
  div#code {
    font-family: monospace;
  }
}
div#d3story {
  div#code {
    grid-area: code;
    font-family: monospace;
    height: 100vh;
    padding: 10em;
    width: 30vh;
  }
  div.viz {
    grid-area: d3;
    height: 60vh
  }
}
div#d3story.Horizontal {
  div#trees.viz {
    grid-area: code;
    height: 100vh;
    width: 30vh;
    padding: 10em;
  }
  div#code {
    grid-area: d3;
    height: 60vh;
    width: auto;
  }
}