@import (inline) '.spago/ocelot/345307d496dee6f6ac32850bf1db9a301810072f/dist/cn-tailwind.css';
@import (inline) 'storybook.css';
@import 'd3stories.less';
@import 'spago.less';

div.Storybook .Storybook-logo img {
  height: 9rem;
  width: 9rem;
  margin: 1rem auto;
}
