/* the svg-container's class is set by Halogen, thus controlling look of the visualization */
div.svg-container.tree { 
  & svg {
    & g.links {
      & line.M2M-Graph {
        stroke: red;
        visibility: hidden;
      } 
      & path.M2M-Tree { /* tree links are splines, not straight lines */
        fill: none;
        visibility: visible;
      } 
      & line.P2P {
        stroke: green;
        visibility: visible;
      } 
      & line.in-package.dependency {
        stroke: blue;
        visibility: hidden;
      }
    }

    & g.nodes {
      & text {
        font: 10px monospace;
      }
      & g.module {
        & text {
          opacity: 0.5;
        }
        & circle {
          visibility: visible;
          fill-opacity: 0.2;
        }
        & circle.connected {
          visibility: visible;
          fill-opacity: 1;
          fill: maroon;
        }
        &:hover {
          & text {
            visibility: visible;
            fill: black;
            opacity: 0.8;
          }
          & circle {
            visibility: visible;
          }
        }
      }
      & g.module.connected { /* not sure why this rule isn't visible in browser even it's overruled by attribute on node */
        & circle {
          visibility: visible;
          fill-opacity: 1;
          fill: maroon;
        }
      }
      & g.package {
        & circle {
          visibility: visible;
        }
        & text {
          visibility: hidden;
          fill: black;
          font-size: 24px;
          opacity: 0.5;
          text-anchor: middle;
        }
        &:hover {
          & text {
            visibility: visible;
          }
        }
      }
    }
  }
}
